@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Kanit", sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #272525, #792727);
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #272525;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

nav a:hover {
    background-color: #91180f;
    color: white;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoMarca {
    width: 350px;
    height: 200px;
}

.profileContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.iconProfile {
    width: 100px;
    height: 100px;
}

.btniconProfile {
    background-color: #571a16;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.btniconProfile:hover {
    background-color: #91180f;
    color: white;
    font-weight: bold;
}

#Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #272525, #792727);
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #1d1a1a;
}

.fotografoImg {
    width: 850px;
    height: 450px;
}

.containerBanner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    position: relative;
}

.txtCentral {
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
    margin-bottom: 20%;
    margin-right: 10%;
    line-height: 1.1;
}

.txtSecundario {
    font-size: 25px;
    margin-right: 28%;
    margin-bottom: 15%;
    position: absolute;
}

.btnEnviar {
    position: absolute;
    top: 300px;
    left: 55%;
    width: 300px;
    height: 35px;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 45, 45);
    color: white;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.btnEnviar:hover {
    background-color: rgb(107, 28, 28);
    border: solid 2px white;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.whatsappLogo {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 15px;
    bottom: 100px;
    transition: all 0.3s ease;
}

.whatsappLogo:hover {
    transform: scale(1.1);
}

#secaoSbMim {
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, #2f2f2f, #333333);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.tituloSbMim {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}

.conteudoSbMim {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3%;
}

.imgSbMim {
    width: 400px;
    height: 550px;
    border-radius: 25px;
    border: 2px solid white;
    margin-right: 20px;
}

.txtSbMim {
    color: #fff;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
    max-width: 800px;
}

.imgSbMim2 {
    width: 400px;
    height: 550px;
    border-radius: 25px;
    border: 2px solid white;
    margin-right: 20px;
}

.inputInfo {
    width: 450px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background-color: #fafafa;
    color: #333;
    padding: 0 15px;
    font-size: 16px;
    position: absolute;
    transition: all 0.3s ease;
    margin-right: 25%;
    margin-bottom: 10%;
    text-align: center;
}

.inputInfo2 {
    width: 450px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background-color: #fafafa;
    color: #333;
    padding: 0 15px;
    font-size: 16px;
    position: absolute;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10%;
    margin-left: 40.8%;
}

#combosSection {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(135deg, #272525, #792727);
}

.titleCombos {
    position: absolute;
    margin-bottom: 30%;
    font-size: 35px;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}

.combo {
    background-color: #3a3a3a;
    color: #fff;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.combo:hover {
    transform: translateY(10px);
}

.combo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.combo p {
    font-size: 16px;
    margin-top: 25px;
}

.combo ul {
    list-style-type: none;
    font-size: 14px;
    margin: 10px 0;
}

.combo ul li {
    margin-bottom: 5px;
}

.combo .preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #bc2222;
}

.btnAgendar {
    background-color: #792727;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnAgendar:hover {
    background-color: #a24040;
    transform: scale(1.05);
}

.txtObs {
    position: absolute;
    margin-top: 30%;
}

#secaoPromocoes {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #272525;
}

.titlePromocoes {
    font-size: 35px;
    color: #792727;
    position: absolute;
    margin-bottom: 30%;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}

.promocoesContainer {
    background-color: #742121;
    color: white;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.promocoesContainer:hover {
    transform: translateY(10px);
}

.promocoesContainer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.promocoesContainer ul {
    list-style-type: none;
    font-size: 14px;
    margin: 10px 0;
}

.promocoesContainer ul li {
    margin-bottom: 5px;
}

.btnCadastrar {
    background-color: #272525;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnCadastrar:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.btnAgendar2 {
    background-color: #272525;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnAgendar2:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.btnEnviar {
    width: 450px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background-color: #792727;
    color: white;
    padding: 0 15px;
    font-size: 16px;
    position: absolute;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 11%;
    margin-left: 3.7%;
}

.twitterBtn {
    position: fixed;
    bottom: 130px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.twitterBtn:hover {
    transform: scale(1.1);
    background-color: white;
}

.twitterBtn img {
    width: 100px;
    height: 100px;
}

footer {
    width: 100%;
    height: 100px;
    padding: 0 15px;
    background-color: #272625;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
}
